<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>新增設備</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Form Design</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" name="id" class="form-control has-feedback-left" id="inputSuccess2" placeholder="設備ID">
                                <span class="fa fa-indent form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" name="phone" class="form-control" id="inputSuccess3" placeholder="識別碼 IOS:UUID, AndroidId, BOX:MAC Address...">
                                    <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" name="MemberId" class="form-control has-feedback-left" id="inputSuccess4" placeholder="用戶ID">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" name="address" class="form-control" id="inputSuccess5" placeholder="機器型號 ex:nexus, samsung...">
                                    <span class="fa fa-address-card-o form-control-feedback right" aria-hidden="true"></span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">設備類型</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" name="type">
                                        <option>BOX</option>
                                        <option>IOS</option>
                                        <option>Android</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12">密碼</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="password" class="form-control" value="">
                            </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">備註</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <textarea class="resizable_textarea form-control" name="memo" placeholder="備註文字"></textarea>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                    <button type="submit" class="btn btn-success">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

