<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>{{ ottManager.username }}</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> 首頁 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/">Dashboard</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> 建立 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/managers/create">建立管理者</a></li>
                    <li><a href="/users/create">建立客戶</a></li>
                    <li><a href="/devices/create">建立設備</a></li>
                    <li><a href="/announces/create">建立公佈欄</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> 清單列表 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/managers">管理者清單</a></li>
                    <li><a href="/users">用戶清單</a></li>
                    <li><a href="/devices">設備清單</a></li>
                    <li><a href="/announces">公佈欄清單</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->
