<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>客戶詳細資料</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Form Design</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" name="username" class="form-control has-feedback-left" id="inputSuccess2" placeholder="歐巴馬" readonly="readonly">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" name="phone" class="form-control" id="inputSuccess3" placeholder="0912345678" readonly="readonly">
                                    <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" name="email" class="form-control has-feedback-left" id="inputSuccess4" placeholder="abcobama@gmail.com" readonly="readonly">
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" name="address" class="form-control" id="inputSuccess5" placeholder="台灣省台北市內湖區大中路無尾巷" readonly="readonly">
                                    <span class="fa fa-address-card-o form-control-feedback right" aria-hidden="true"></span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">性別</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="gender" value="male">男性
                                        </label>
                                        <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                            <input type="radio" name="gender" value="female">女性
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12">密碼</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="password" class="form-control" value="000000" readonly="readonly">
                            </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">備註</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <textarea class="resizable_textarea form-control" name="memo" placeholder="中年男子愛看謎片" readonly="readonly"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">建立時間</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <input type="text" name="createdAt" class="form-control" readonly="readonly" placeholder="2016/12/12" style="padding-left:50px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">更新時間</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <input type="text" name="updatedAt" class="form-control" readonly="readonly" placeholder="2016/12/12" style="padding-left:50px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">刪除時間</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <input type="text" name="deletedAt" class="form-control" readonly="readonly" placeholder="2016/12/12" style="padding-left:50px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">建立者</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    <input type="text" name="createdBy" class="form-control" readonly="readonly" placeholder="中文字" style="padding-left:50px">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">最後更新者</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    <input type="text" name="updatedBy" class="form-control" readonly="readonly" placeholder="中文字" style="padding-left:50px">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                    <button type="submit" class="btn btn-success">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>

