{% extends "../base.html" %}

{% block container %}
    <h1>/views/home/home.html</h1>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
            {# project name #}
            {% include "../blocks/projectname.html" %}

            <!-- sidebar menu -->
            {# sidebar block #}
            {% include "../blocks/sidebar.html" %}

            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        {# top navigation block #}
        {% include "../blocks/topNavigation.html" %}
        <!-- /top navigation -->

        <!-- page content -->
        {# page content block #}
        {% include "../blocks/dashboard.html" %}
        <!-- /page content -->

        <!-- footer content -->
        {# footer block #}
        {% include "../blocks/footer.html" %}
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/js/custom.min.js"></script>



{% endblock %}
