{% extends "../base.html" %}

{% block container %}
    <h1>/views/admins/one.html</h1>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            {# project name #}
            {% include "../blocks/projectname.html" %}

            <!-- sidebar menu -->
            {# sidebar block #}
            {% include "../blocks/sidebar.html" %}

            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        {# top navigation block #}
        {% include "../blocks/topNavigation.html" %}
        <!-- /top navigation -->

        <!-- page content -->
        {# page content block #}
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>管理者詳細資料</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>修改詳細資料</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Settings 1</a>
                                            </li>
                                            <li><a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <!-- start form for validation -->
                                <form id="demo-form" data-parsley-validate>
                                    <label for="fullname">使用者名稱 :</label>
                                    <input type="text" id="fullname" class="form-control" name="username" placeholder="{{ manager.username }}" required readonly="readonly"/>
                                    <div class="form-group">
                                        <label>密碼</label>
                                        <input type="password" class="form-control" name="password" placeholder="*****" readonly="readonly">
                                    </div>
                                    <label for="email">Email * :</label>
                                    <input type="email" name="email" id="email" class="form-control" name="email" data-parsley-trigger="change" required placeholder="{{ manager.email }}" readonly="readonly"/>
                                    <label for="heard">角色</label>
                                    <select id="heard" class="form-control" required name="role" disabled>
                                        <option value="{{ manager.role }}">{{ manager.role }}</option>
                                    </select>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                            <button type="submit" class="btn btn-success">修改</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- end form for validations -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- /page content -->

        <!-- footer content -->
        {# footer block #}
        {% include "../blocks/footer.html" %}
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="/static/js/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/js/custom.min.js"></script>


{% endblock %}
